In [2]:
# Take an integer n and print its multiplication table up to 10.
n=int(input("Enter a number:"))
for i in range (1,11):
  a=n*i
  print(a)

Enter a number:5
5
10
15
20
25
30
35
40
45
50

In [3]:
# Take an integer n and find the sum of its digits.
n=int(input("Enter a number:"))
sum=0
for i in range(1,n+1):
  sum+=i
print(sum)

Enter a number:5
15

In [12]:
# Take an integer n and find the sum of its digits. (123=1+2+3)
n=input("Enter a number:")
count=0
for i in n:
  count=count+int(i)
print(count)

Enter a number:123
6

In [14]:
# Take an integer n and print numbers from n to 1.
n = int(input("Enter a number: "))
for i in range(n, 0, -1):
    print(i)

Enter a number: 5
5
4
3
2
1

In [16]:
'''
1
22
333
4444
'''
n=int(input("Enter a number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end=" ")
  print(" ")

Enter a number:5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5